
.menucontainer {
   display: flex;
   display: -webkit-flex;
   display: -ms-flex;
   display: -moz-flex;
   flex: 1;
   width: 70%;
   height: 100%;
  margin: 0 auto;
  padding: 0 auto;
 background-image: url("Cafe photos/blackboard640.jpg");
  background-position: center center;
  background-repeat: no-repeat;
 background-size: cover;
  background-color: #272d2d;
  border: solid 8px;
  border-top: outset solid 6px #604f41;
  border-top: inset solid 5px #b49372;
     border-left: outset solid 6px #b49372;
     border-left: inset solid 5px #604f41;
     border-right: outset solid 6px #b49372;
     border-right: inset solid 5px #604f41;
     border-bottom: outset solid 6px #b49372;
     border-bottom: inset solid 5px #604f41;
}

  /* This justifys the content using the space between each of the 2 sections in the halfcontainer */
 .menucontainer-halves {
   display: flex;
   display: -webkit-flex;
   display: -ms-flex;
   display: -moz-flex;
}
.menucontainer-halves .menucolhalf, .menucolhalfrt {
  width: 100%;
  color: #fcfcfc;
   }
.menucolhalf {
  width: 100%;
  text-align: center;
  justify-content: center;
}
 .menucolhalfrt {
  width: 100%;
  text-align: center;
  justify-content: center;
}

/* Create two equal columns that float next to each other */
.column1 {
  float: left;
  border-right: groove 1px #f7f9f9;
  border-bottom: 70px dashed thin #FFFF99;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 /* Create two equal columns that float next to each other */
.column2 {
  float: right;
  border-left: solid 0px #f7f9f9;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#menuboard {
    border: solid; color: #b49372;
     border-width: 9px;
     border-radius: 3.5px;
     width: 180px;
     height: 250px;
     background-color: #272d2d;
 }

 #mtext {
     margin-top: 10px;
     margin-left: 0;
     text-transform: uppercase;
     border: solid 0px #c8a8b3;
     border-radius: 90px;
     color: #c8a8b3;
     font-family:  cursive, "Casper Light SF", "Casablanca SF", "Casper Open SF", "Candy Square BTN Striped", "Casper Heavy SF", Georgia;
     font-style: italic;
     font-size: 1.75em;
 }
   #mtext2 {
     margin-top: 7px;
     margin-left: 0.4em;
     text-transform: capitalize;
     text-decoration-line: underline;
     text-decoration-style: wavy;
     color: #93bdcb;
     font-family: cursive, "Casper Open SF", "Casper Light SF", "Casablanca SF", "Candy Square BTN Striped", "Casper Heavy SF", Georgia;
     font-style: oblique;
     font-size: 140%;
 }
 #pblue {
     color: #93bdcb;
     text-align: center;
     font-style: italic;
     font-family:  "Casper Open SF", "Casper Light SF", "Casablanca SF", "Candy Square BTN Striped", "Casper Heavy SF", Georgia;
     font-size: 1.2em;
     line-height: 1.3;
     border: solid 0px #c8a8b3;
     border-radius: 90px;
     padding: -5px -5px -5px -5px;
     margin: 4px 0 0 0;

 }
 #pred {
     color: #c8a8b3;
     text-align: center;
     font-style: normal;
     font-family:  Charcoal, sans-serif, "Casper Open SF", "Casper Light SF", "Casablanca SF", "Candy Square BTN Striped", "Casper Heavy SF", Georgia;
     font-size: 1.2em;
     line-height: 1.3;
     border: solid 0px #c8a8b3;
     border-radius: 90px;
     padding: -5px -5px -5px -5px;
     margin: 4px 0 0 0;
 }
 #pwhite {
     color: #f7f9f9;
     text-align: center;
     font-style: italic;
     font-family:  Charcoal, sans-serif, "Casper Open SF", "Casper Light SF", "Casablanca SF", "Candy Square BTN Striped", ;
     font-size: 1em;
     line-height: 1.3;
     border: solid 0px #c8a8b3;
     padding: -5px -5px -5px -5px;
     margin: 4px 0 0 0;
 }
 #pwhitem {
     color: #f7f9f9;
     text-align: center;
     font-style: none;
     font-family:  Charcoal, sans-serif, ;
     font-size: 1em;
     border-top-left-radius: 35px;
   border-top-right-radius: 35px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
     margin: 4px 0 0 0;
 }
 #menup {
     text-transform: uppercase;
     text-align: center;
     color: #FCFCFC;
     font-size: 1em;
     margin-top: 15px;
     font-style: italic;
     }
#pskew {
    font-family: fantasy, cursive, sans-serif;
    text-transform: Capitalize;
    font-size: 1.2em;
    color: #c8a8b3;
    transform: skewY(-9deg);
}

 .marti {
    height: 60vh;
    background-color: #fffbe1;
    font-size: 1em;
    margin: 0px auto;
     padding-top: 10px auto;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
 }
 .marti div {
   margin: 0 auto;
   border: solid 1px grey;
   padding-top: 10px auto;
    vertical-align: middle;
   width: 60%;
   color: #004973;
   font-size: 1em; /*62.5%;  makes the 1em size display at 10px! */
 }
 /* Style the tab */
 .tab {
   overflow: hidden;
 background-image: url("Cafe photos/blackboard640.jpg");
  background-position: center center;
  background-repeat: no-repeat;
 background-size: cover;
 border: 0px solid #272d2d;
  width: 95%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  margin: 0 auto;
}

 /* Style the buttons inside the tab */
 .tab button {
   float: left;
   background-image: url("Cafe photos/blackboard640.jpg");
  background-position: center center;
  background-repeat: no-repeat;
 background-size: cover;
   justify-content: center;
   background-color: #272d2d;
   color: #f7f9f9;
   width: calc(100%/4);
   margin: 0 auto;
   padding: 5px 15px;
   align-content: center;
   border: none;
   border-top-left-radius: 45px;
   border-top-right-radius: 45px;
   -webkit-border-top-left-radius: 45px;
   -webkit-border-top-right-radius: 45px;
   -moz-border-top-left-radius: 45px;
   -moz-border-top-right-radius: 45px;
   outline: none;
   text-align: center;
   cursor: pointer;
   transition: 1s;
   font-size: 1em;
   }

 /* Change background color of buttons on hover */
 .tab button:hover {
   background-color: #272d2d;
 }

 /* Create an active/current "tab button" class */
 .tab button.active {
   background-color: #854138;
 }

/* Style the tab content*/
.tabcontent {
  display: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  padding: 6px 12px;
  border: 0;
  border-top: none;
  width: 95%;
  min-height: 100px;
  margin: 0 auto;
  color: #62716e;
  }

 .tabcontent h3 {
    display: grid;
    color: #62716e;
     background-color: #f7f9f9;
     opacity: 0.95;
     width: 100%;
     line-height: 1.3;
     margin: 0 auto;
     margin-bottom: 5px;
     padding: 10px 10px 10px 10px;
     text-align: left;
      align-content: center;
      justify-content: center;
     border-radius: 10px;
 }
  .tabcontent img {
   display: grid;
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-align: center;
      align-content: center;
      justify-content: center;
     border-radius: 20px;
  }


#cafemenu {
    visibility: visible !important;
    display: block;
    background-color:#c8a8b3 !important;
background-position: center right;
background-size: 30%;
background-repeat: no-repeat;

}
#hotchoc {background-color:#35352d;
background-position: center right;
background-size: 30%;
background-repeat: no-repeat;
}
#cakes {background-color:#B99A7E;
background-position: center right;
background-size: 30%;
background-repeat: no-repeat;
}
#coffees {background-color:#b7aa56;
background-position: center right;
background-size: 30%;
background-repeat: no-repeat;
}
#breakfast {background-color:#8F9EFF;
background-position: center right;
background-size: 30%;
background-repeat: no-repeat;
}
#specials { background-color:#35352d;
background-repeat: no-repeat;
background-position: center right;
background-size: 10%;
border-radius: 0%;}

/* Section for Lightbox */
.row > .column {
  padding: 3px 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  margin: 0 auto;
  padding: 5px 0;
  width: 19.99%;
}
  /* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #272d2d;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
 .close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
 .mySlides {
  display: none;
}
  .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
}
 /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 /* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
 img {
  margin-bottom: -4px;
}
 .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
 .demo {
  opacity: 0.6;
}
 .active,
.demo:hover {
  opacity: 1;
}
  img.hover-shadow {
  transition: 0.3s;
}
  .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End Lightbox Styling */

 /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column1, .column2  {
    width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
 .menucontainer {
     width: 95%;
 } .column1 {
    display: block;
    width: 100%;
  }
   .column2  {
    display: block;
    width: 100%;
  }
  .tab button {
    width: 25%;
    font-size: 0.6em;
}
}
@media screen and (max-width: 500px) {
 .menucontainer {
     display: block;
     width: 95%;
     overflow-y: auto;
 }
 .menucontainer-halves {
   display: block;
   width: 100%;
}
 .menucolhalf {
    display: block;
    width: 100%;
}
 .menucolhalfrt {
  display: block;
  width: 100%;
  /*display: none !important;
  visibility: hidden !important; */
  }
  .column2  {
    display: block;
    width: 100%;
    font-size: 1em;
    /*display: none !important;
    visibility: hidden !important;*/
  }
  .mtext2 {
   display: block;
   /*display: none !important;
    visibility: hidden !important;*/
}
 .column1 {
    display: block;
    width: 100%;
    font-size: 1em;
  }

#mtext {
  font-size: 1em;
}
#mtext2 {
    font-size: 1em;
}
.tab {
    width: 100%;
}
.tabcontent {
    width:100%
}
.tab button {
    width: 25%;
    font-size: 0.6em;
}
.column {
    display: block;
    width: 49.99%;
}
}
@media screen and (max-width: 320px) {
 .menucontainer {
     display: block;
     width: 95%;
      height: 100%;
 }
 .menucontainer-halves {
   display: block;
   width: 100%;
}
 .menucolhalf {
    display: block;
    width: 100%;
}
 .menucolhalfrt {
  display: block;
  /*display: none !important;
  visibility: hidden !important; */
  }
  .column2  {
    display: block;
    width: 100%;
    font-size: 1em;
    /*display: none !important;
    visibility: hidden !important;*/
  }
  .mtext2 {
   display: block;
   /*display: none !important;
    visibility: hidden !important;*/
}
 .column1 {
    display: block;
    width: 100%;
    font-size: 1em;
  }

#mtext {
  font-size: 1em;
}
#mtext2 {
    font-size: 0.8em;
}
.tab {
    width: 100%;
}
.tabcontent {
    width:100%
}

.tab button {
    width: auto;
    font-size: 0.5em;
}

 #defaultOpen {
     display:none;
 }
 .column {
      display: block;
  }

}